/* add CSS class and element and selectors here */
body {
  background-color: powderblue;
  color: darkblue;
  background: linear-gradient(270deg, #17edb6, #1cbe94, #1e8d70);
  background-size: 600% 600%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


h3 {
  font-size: 105%;
}

div {
  border-color: blue;
}

h1, h2, h3, h4, h5, h6, p {
  color: darkblue;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-shadow: 4px 4px #f0f0f0;
  text-align: center;
}

.myClass {
  background-color: white;
  color: blue;
}

header {
  color: lightgreen;
}




