/* add CSS class and element and selectors here */
body {
  background-color: powderblue;
}

h3 {
  font-size: 300%;
}

div {
  border-color: blue;
}

h1, h2, h4, h5, h6, p {
  color: green;
  text-shadow: 2px 2px #ff0000;
}


